@import url("About_us.css");

/* Texto Principal */

h1 { text-align: center; font-family: "Roboto Condensed", sans-serif; color: #000000;}
h2 { text-align: center; margin-top: 1%; justify-content: center; font-family: "Roboto Condensed", sans-serif; color: #000000;}

.About_us { text-align: center; padding: 20px; font-family: "Roboto Condensed", sans-serif; background-color: #ffffff; color: #000000;}
.bienvenidos { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
}

.bienvenidos p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    width: 70%; /* Ancho fijo para los párrafos */
    margin: 0 auto; /* Centrar el párrafo horizontalmente */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #686829;
    text-align: center;
    margin-top: 30px;
}

h4 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    color: #617E65;
    margin-top: 30px;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    color: #617E65;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #11231D;
}

ul {
    text-align: left;
    padding-left: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li i {
    margin-right: 10px;
}


/* menú */

.container_nav { display: flex; justify-content: space-between;}

.container_nav_menu { margin-top: 2%;}

ul{ list-style-type: none;}

li{ display: inline; text-align: center; margin: 0 10px 0 0; font-size: 25px;}

a {  text-decoration: none; color: black;}

a:hover { color: brown;}


/* formulario */

.contact-form { margin-top: 2%;}
  
label[for="message"], input[name="message"] { width: 80%; padding: 10px; display: inline-block;}
  
input, textarea { width: 100%; padding: 5px; outline: none;}
  
label { line-height: 1.9rem;}
  
input[type="submit"] { padding: 3px; margin-top: 0.6rem; font-weight: bold;}
  
fieldset { padding: 20px 40px;}
  
.cv-info { font-size: smaller; color: gray; margin-left: 5px;}
  
/*Footer */

footer {
    background: #2C3E50;
    padding: 20px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-between; 
    margin: auto;
    padding-bottom: auto;
    border-bottom: 2px solid #ccc;
}

.content-foo {
    text-align: center;
    flex: 1;
}

.mapa {
    margin-top: 10px;
    border-radius: 10%;
    margin-bottom: 5px;
}
.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo h3 {
    color: #d5d5b5f1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo h3 a {
   color: #d5d5b5f1;

    padding-bottom: 5px;
    margin-bottom: 10px;
}
.adress {
    color: #ccc;
    padding-bottom: 5px;
    margin-top: 2%;
 
}
.somos {
    margin-top: 40px;
    text-align: left;
    color: #ccc;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
}
.redes {
    margin-bottom: 20px;
}

.redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.titulo-final {
    color: #fff;
    font-size: 16px;
    text-align: right;
    margin-right: 10%;

}

@media screen and (max-width:900px){
    /*footer*/
    .redes a {
      width: 36px;
      height: 36px;
      line-height: 36px;
      font-size: 18px;
  }
  }
  @media screen and (max-width:500px){
    .contenedor-footer {
      flex-direction: column;
  }
  
  .redes a {
      margin: 5px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 16px;
  }
  }
  